<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!--  Bootstrap files  -->
     <link rel="stylesheet" href="{% static '/css/bootstrap.css'%}">
     <link rel="stylesheet" href="{% static '/js/bootstrap.js'%}">
 
    <title>Base</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> Todolist </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto justify-content-end">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-2 p-lg-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Add to items" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Add item </button>
          </form>
        </div>
      </nav>
    {% block content %}{% endblock content %}
</body>
</html>